@use "../abstracts/variables.scss";

/* ==========================
   CASES / Секция кейсов
========================== */
.cases {
  width: 100%;
  margin-top: 80px;
  box-sizing: border-box;

  &__container {
    max-width: var(--container-width);
    margin: 0 auto;
    position: relative;
  }

  &__header {
    text-align: center;
    margin-bottom: 30px;
  }

  &__title {
    font-size: 42px;
    color: var(--color-text-primary);
    line-height: 50px;
    font-weight: 700;
    margin: 0;
  }

  &__subtitle {
    font-size: 28px;
    color: var(--color-text-primary);
    line-height: 36px;
    font-weight: 700;
    margin-top: 7px;
  }

  &__content {
    background-color: var(--color-surface);
    border-radius: var(--radius-lg);
    display: flex;
    gap: var(--gap-lg);
    align-items: center;
    justify-content: space-between;
    min-height: 366px;
    position: relative;
    padding-left: 40px;
  }

  &__left-block {
    width: 530px;
    height: 287px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
  }

  &__left-title {
    font-size: 28px;
    color: var(--color-text-primary);
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;

    li {
      color: var(--color-text-primary);
      display: flex;
      align-items: flex-start;
      gap: 15px;
      font-size: var(--fs-mid);
      line-height: 20px;
    }
  }

  &__right {
    max-width: 570px;
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: var(--radius-lg);
  }

  &__banner-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* Кнопки навигации */
  &__nav {
    position: absolute;
    top: 57%;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #eef2f5;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    z-index: 10;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    &:hover {
      background: var(--color-accent);

      svg path {
        stroke: white;
      }
    }

    svg {
      width: 20px;
      height: 20px;

      path {
        stroke: #1e1e1e;
        stroke-width: 2;
        transition: all 0.3s ease;
      }
    }

    &--prev {
      left: 20px;
    }

    &--next {
      right: 20px;
    }

    display: flex;
  }

  .text--accent {
    color: var(--color-accent);
  }

  /* Пагинация */
  &__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 30px;
    height: 12px;
    min-height: 12px;
  }

  &__dot {
    width: 8px;
    height: 8px;
    background-color: #eef2f5;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    flex-shrink: 0;

    &.active {
      width: 12px;
      height: 12px;
      background-color: var(--color-accent);
      margin: -2px 0;
    }
  }
}

.case__icon {
  width: 13px;
  height: 16px;
  margin-top: 1px;
}

@media (min-width: 1440px) {
  .cases {
    &__nav {
      background: #eef2f5;

      &--prev {
        left: -75px;
      }

      &--next {
        right: -75px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .cases {
    &__container {
      padding: 20px;
    }
    &__nav {
      display: none;
    }
    &__header {
      max-width: 525px;
      margin: 0 auto;
      margin-bottom: 30px;
    }
    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: var(--gap-lg);
      min-height: auto;
      padding-left: 40px;
      box-sizing: border-box;
    }

    &__left-block {
      width: 308px;
      height: auto;
      padding: 0;
      justify-content: flex-start;
    }

    &__left-title {
      line-height: 32px;
    }

    &__list {
      li {
        font-size: var(--fs-mid);
        line-height: 20px;
      }
    }

    &__right {
      width: 348px;
      height: 523px;
    }

    &__banner {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__pagination {
      display: flex;
    }
  }
}

@media (max-width: 767px) {
  .cases {
    &__title,
    &__subtitle,
    &__nav {
      display: none;
    }

    &__container {
      max-width: 100%;
      padding: 10px;
    }

    &__content {
      flex-direction: column;
      align-items: center;
      gap: var(--gap-md);
      padding: 0;
      width: 100%;
      box-sizing: border-box;
    }

    &__right {
      padding: 0 10px;
      width: 100vw;
      height: auto;
      order: 0;
      margin-bottom: 15px;
    }

    &__banner {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: var(--radius-lg);
    }

    &__left-block {
      padding-bottom: 30px;
      width: 100%;
      max-width: 260px;
      justify-content: flex-start;
      order: 1;
    }

    &__list {
      width: 230px;
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;

      li {
        font-size: 15px;
        line-height: 20px;
        display: flex;
        align-items: flex-start;
      }
    }

    &__left-title {
      font-size: 20px;
      line-height: 28px;
    }

    &__pagination {
      display: none;
    }
  }

  .case__icon {
    width: 13px;
    height: 16px;
    margin-top: 4px;
  }
}

@media (min-width: 1025px) and (max-width: 1439px) {
  .cases {
    &__nav {
      display: flex;
      background: #eef2f5;

      &--prev {
        left: 20px;
      }

      &--next {
        right: 20px;
      }

      &:hover {
        background: var(--color-accent);
      }
    }
  }
}
