@use "../abstracts/variables.scss";

.footer {
  margin-top: 80px;
  background: rgb(52, 48, 55);
  padding-top: 30px;
  color: #fff;
  padding-bottom: 40px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__top {
    gap: 60px;
    font-size: var(--fs-mid);
    line-height: 20px;
  }

  &__divider {
    width: 100%;
    max-width: 1170px;
    height: 1px;
    background: rgba(214, 215, 224, 0.2);
  }

  &__grid {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 107px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__link {
    font-size: var(--fs-mid);
    line-height: 20px;
    color: #fff;
    text-decoration: none;
    transition: opacity 0.3s ease;
    font-weight: 400;

    &:hover {
      opacity: 0.7;
    }

    &--phone {
      font-weight: 400;
    }
  }

  &__phone-number {
    font-weight: 700;
  }

  &--tablet {
    display: none;
  }

  &--tablet {
    display: none;
  }
}

.footer__copyright {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .footer__copyright {
    font-size: 15px;
  }
  .footer--desktop {
    display: none;
  }

  .footer--tablet {
    display: block;
    height: 353px;
    padding-left: 20px;
    box-sizing: border-box;

    .footer__grid {
      display: flex;
      gap: 60px;
    }

    .footer__divider {
      order: 2;
    }

    .footer__bottom {
      order: 3;
      display: flex;
      align-items: center;
      gap: 60px;

      .footer__column {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }
  }
}

@media (max-width: 767px) {
  .footer--desktop {
    display: none;
  }
  .footer__container {
    gap: 20px;
  }

  .footer--tablet {
    display: block;

    .footer__grid {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
    }

    .footer__bottom {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      text-align: center;

      .footer__copyright {
        align-items: center;
      }
    }
  }

  .footer__column {
    align-items: center;
  }
}
