:root {
  --font-main: "Inter", sans-serif;
  --color-text-primary: #343037;
  --color-accent: #b829a0;
  --color-hover: #d647be;
  --color-white: #ffffff;
  --color-divider: rgba(214, 215, 224, 0.2);
  --color-placeholder: #e5e5e5;
  --color-placeholder-dark: #cfcfcf;
  --radius-lg: 15px;
  --container-width: 1170px;
  --color-surface: rgba(244, 247, 250, 1);
  --gap-lg: 30px;
  --gap-md: 20px;
  --fs-body: 17px;
  --fs-small: 14px;
  --fs-mid: 15px;
}